.box{
	margin-left: 7px;
	margin-right: 7px;
	margin-top: 2px;
	margin-bottom: 5px;
	box-shadow: 1px 1px 1px #888888;
}

.cellContainer {
	width: 20%;
    float: left; 
	background-color: #dfe3cc;
	margin-left: 2px;
	margin-right: 2px;
	border-right: 1px solid #a1a1a1;
	border-left: 1px solid #a1a1a1;
	border-top: 1px solid #a1a1a1;
	border-bottom: 1px solid #a1a1a1;
	border-radius: 3px;
	box-shadow: 1px 1px 1px #888888;
	height: 100%;
}

.graph{
	width: 38%;
	float: left; 
	background-color: #dfe3cc;
	margin-left: 2px;
	margin-right: 2px;
	border-right: 1px solid #a1a1a1;
	border-left: 1px solid #a1a1a1;
	border-top: 1px solid #a1a1a1;
	border-bottom: 1px solid #a1a1a1;
	border-radius: 3px;
	box-shadow: 1px 1px 1px #888888;
	height: 100%;
}


.title{
    text-align: center;
    background-color: #dfe3ee;
	border: 1px solid #a1a1a1;
	border-radius: 3px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 0;
	box-shadow: 1px 1px 1px #888888;
}

.placeholder{
	width:100%; 
	margin-left: 5px; 
	margin-right: 5px;
}		