{% extends "states/base.html" %}
{% block toolbar %}
	<nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container-fluid">
	    <div class="navbar-header">
	 		<a class="navbar-brand" href="#"><span class="glyphicon glyphicon-road"></span> StarTrac</a>
		</div>
		<div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
			    <li><a href="{% url 'states' %}"><span class="glyphicon glyphicon-flag"></span> States</a></li>
			    <li><a href="{% url 'cities' %}"><span class="glyphicon glyphicon-list-alt"></span> Cities</a></li>
			    <li><a href="{% url 'stores' %}"><span class="glyphicon glyphicon-tasks"></span> Stores</a></li>
			</ul>
		</div>
	  </div>
	</nav>
{% endblock %}