{% load staticfiles %}

<html>

<head>
	<script type="text/javascript" src="{% static 'business_app/jquery1.10.4/jquery-1.10.2.js' %}"></script>
	<script type="text/javascript" src="{% static 'business_app/jquery1.10.4/jquery-ui.js' %}"></script>
	<link href="{% static 'business_app/jquery1.10.4/jquery-ui.css' %}" rel="stylesheet">
	
	<link rel="stylesheet" href="{% static 'business_app/theme.css' %}">
	<link rel="stylesheet" href="{% static 'business_app/callout.css' %}">
	<link rel="stylesheet" href="{% static 'business_app/visual.css' %}">
	<link rel="stylesheet" href="{% static 'business_app/submenu.css' %}">
	<script type="text/javascript" src="{% static 'business_app/Chart.js' %}" ></script>
	<script type="text/javascript" src="{% static 'business_app/actions.js' %}" ></script>
	
	<link rel="stylesheet" href="{% static 'business_app/bootstrap3.3.4/css/bootstrap.min.css' %}">
	<script type="text/javascript" src="{% static 'business_app/bootstrap3.3.4/js/bootstrap.min.js' %}"></script>
	
	<title>{% block title %}{{title|title}}{% endblock %}</title>

</head>

<body>

	{% block content_wrapper %}
	
		<div class="container">
			<div id="wrapper">
			
				{% block sidebar %}{% endblock %}
			    
			    {% block content %}
			    	{% block toolbar %}{% endblock %}
			    {% endblock %}
			     
			</div>
	    </div>

	{% endblock %}
	
	{% block visuals %}{% endblock %}
	
</body>

</html>