{% extends "states/menu.html" %}
{% block title %}{{data|title}} delete page{% endblock %}

{% block content %}
	<div class="jumbotron">
    	<h2>About to delete "{{ object }}" ...</h2>
    </div>

	<div class="bs-callout bs-callout-danger">
		<form method="post" class="post-form">{% csrf_token %}
		    <p>Are you sure you want to delete "{{ object }}"?</p>
		    <button type="submit" class="btn btn-danger">
	        <span class="glyphicon glyphicon-remove"></span>
	        Delete
	        </button>
		</form>
	</div>

{% endblock %}