{% extends "business_app/menu.html" %}
{% block title %}{{ display_name|title }}{% endblock %}

{% load get_attribute from business_app_extras %}

{% block content %}
	<div id="page-content-wrapper">
    	<div class="container-fluid">
        	<div class="row">
            	<div class="col-lg-12">	
            		<div class="page-header">
       					<h2><span class="glyphicon glyphicon-flag"></span> {{ display_name|title }}</h2>
    				</div>
					<ul class="list-group">
						{% for obj in object_list %}
							<div class="bs-callout bs-callout-primary">
								<span class="glyphicon glyphicon-chevron-right"></span>
								<a href="{% url detail_url obj.pk %}" data-toggle="tooltip" 
																	  data-placement="right" 
																	  title="Click to see details about {{obj}} ">
									{{obj|get_attribute:main_attribute}}
								</a>
							</div>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
		
{% endblock %}

{% block sidebar_content %}
	<li>
		<b>
			<a href="{% url add_url %}">
				<span class="glyphicon glyphicon-file"></span>
				Add new {{ display_name|title }}
			</a>
		</b>
	</li>
	{% for custom_method in custom_methods %}
	<li>
		<b>
			{% if custom_method.name == 'Search' %}
			<a href="{% url search_url %}">
			{% else %}
			<a href="{% url custom_method.url %}">
			{% endif %}
				<span class="glyphicon glyphicon-list-alt"></span>
					{{custom_method.name}}
			</a>
		</b>
	</li>
	{% endfor %}
{% endblock %}
